.wrapper {
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
}

.imgWrapper {
  text-align: center;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0.5px solid black;
    background-color: darkslategray;
    padding: 20px;
    margin: 20px;
  }
}

.name {
  font-weight: 700;
}

.items {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.item {
  border: 1px solid gray;
  background-color: dimgrey;
  width: 100%;
  height: 100%;
  padding: 10px;

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
